html {
    background: #afcdff;
    font-family: 'ABeeZee', sans-serif;
}

h2 {
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    background-color: white;
    vertical-align: middle;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 30px;
    font-size: 30pt;
    text-decoration: none;
}

.navbar li img {
    width: 150px;
}

.callout {
    background-color: white;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
}

.callout li {
    list-style-type: none;
    line-height: 2;
}

.callout li img {
    width: 50px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.resources img {
    height: 250px;
    padding: 50px;
}

.resources {
    text-align: center;
}

.registerme li {
    
    list-style-type: none;
}
.logmein li {
    
    list-style-type: none;
}
